<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="InfoFilesConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy HH-mm-ss.SSS} [%t] %-6level -  %msg%n"/>
        </Console>
        <File name="SearchErrorClass" fileName="C:\SearchEngineLogs\searchErrClass.log" append="false">
            <PatternLayout pattern="%d{dd/MM/yyyy HH-mm-ss.SSS} [%t] %-4level - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "ERR_TXT" />
            </Filters>
        </File>
        <File name="SearchErrorFullText" fileName="C:\SearchEngineLogs\searchErrFullText.log" append="false">
            <PatternLayout pattern="%d{dd/MM/yyyy HH-mm-ss.SSS} [%t] %-4level - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "ERR_CLASS" />
            </Filters>
        </File>
        <File name="ErrorRootLoger" fileName="C:\SearchEngineLogs\rootLoger.log" append="false">
            <PatternLayout pattern="%d{dd/MM/yyyy HH-mm-ss.SSS} [%t] %-4level - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <logger name="searchengine.services.SearchServiceImpl" level="error">
            <appender-ref ref="SearchErrorClass"/>
            <appender-ref ref="SearchErrorFullText"/>
            <appender-ref ref="InfoFilesConsole"/>
        </logger>
        <root level="info">
            <appender-ref ref="InfoFilesConsole" />
            <appender-ref ref="ErrorRootLoger" />
        </root>
    </loggers>
</configuration>
